<%= render "transactions/navbar_cashier" %>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-5">
			<div class="row">
				<% @products.each do |p| %>
				<% if p.group_varians.blank? %>
				<div class="col-lg-4" style="padding: 2%;">
					<div class="image">
						
					</div>
					<div class="data">
						<span class="label label-primary">Produk</span>
						<center>
							<div class="name">
								<h3><%= p.name %></h3>
							</div>
							<div class="price">
								<h3>Rp. <%= p.price %></h3>
							</div>
						</center>
					</div>
				</div>
				<% end %>
				<% end %>
				<% @varians.each do |p| %>
				<div class="col-lg-4" style="padding: 2%;">
					<div class="image">
						
					</div>
					<div class="data">
						<span class="label label-success">Varian</span>
						<center>
							<div class="name">
								<h3><%= p.product.name+" "+p.name %></h3>
							</div>
							<div class="price">
								<h3>Rp. <%= p.price %></h3>
							</div>
						</center>
					</div>
				</div>
				<% end %>
			</div>
		</div>
		<div class="col-lg-7">
			<div class="ibox ">
        <div class="ibox-title">
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#" class="dropdown-item">Config option 1</a></li>
              <li><a href="#" class="dropdown-item">Config option 2</a></li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
          <h2>Item Transaction</h2>
        </div>
        <div class="ibox-content">
            <div class="table-responsive">
              <table id="product" class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                	<%# if @trans_items.present? %>
	                	<% @trans_items.each do |i| %>
	                    <tr>
	                    	<% if i.itemable_type == "Product" %>
	                    	<td><%= i.itemable.name %></td>
	                    	<% elsif i.itemable_type == "Varian" %>
	                    	<td><%= i.itemable.product.name + " " + i.itemable.name %></td>
	                    	<% end %>
	                    	<td><%= i.amount_unit %></td>
	                    	<td><%= link_to "Delete", destroy_transaction_item_path(@outlet, @operator, @transaction, i), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger btn-sm' %></td>
	                    </tr>
	                  <% end %>
                	<%# end %>
                </tbody>
                	<tfoot>
                    <tr>
                      <th>Name</th>
                    	<th>Amount</th>
                    	<th>Action</th>
                    </tr>
                  </tfoot>
                </table>
                <div class="row">	
	                <div class="col-9">
	                	<h3>Total</h3>
	                </div>
	                <div class="col-lg-3">
	                	<h3 style="text-align: right;"><%= @transaction.total %></h3>	
	                </div>
                </div>
                <div class="row">
                	<div class="col">
                		<%= link_to "Save", save_transaction_path(@outlet, @operator, @transaction, operator: get_operator_type(@operator)), class: 'btn btn-warning btn-block' %>
                	</div>
                	<div class="col">
                		<%= link_to "Pay", pay_transaction_path(@outlet, @operator, @transaction, operator: get_operator_type(@operator)), class: 'btn btn-primary btn-block' %>
                	</div>
                </div>
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-lg-12">
			<%= simple_form_for(@transitem, :url => transaction_item_path(@outlet, @operator, @transaction, operator: get_operator_type(@operator)), method: :post) do |f| %>
			<div class="formItem">
				<%= f.label :itemable_type %>
				<%= f.select(:itemable_type, options_for_select([["Product", "Product"], ["Varian", "Varian"], ["Choose a Type Item", 0]], 0)) %>
				<%#= f.input :itemable_id do %>
				<div class="product">
					<%= f.input :itemable_id do %>
	          <% if @products.blank? %>
	            <%= link_to 'Create a Product', new_product_path, class: 'btn btn-primary btn-sm' %>
	          <% else %>
	            <%= f.select :itemable_id, @products.map { |p| [p.name, p.id, { class: p.id }] }, {include_blank: 'Choose a Product'}, class: 'product-list' %>
	          <% end %>
	        <% end %>
				</div>
				<div class="varian">
					<%= f.input :itemable_id do %>
	          <% if @varians.blank? %>
	            <%= link_to 'Create a Product with Varian', new_product_path, class: 'btn btn-primary btn-sm' %>
	          <% else %>
	            <%= f.select :itemable_id, @varians.map { |v| [v.product.name + " " + v.name, v.id, { class: v.id }] }, {include_blank: 'Choose a Varian'}, class: 'varians-list' %>
	          <% end %>
	        <% end %>
				</div>
				<%= f.input :amount_unit %>
			</div>
				<%= f.button :submit, class: 'btn btn-primary btn-block' %>
			<% end %>
		</div>
	</div>
	</div>
</div>
</div>

<script type="text/javascript">

	$(document).ready(function(){
		$(".varian").hide()
		$(".product").hide()
		
		$('#transaction_item_itemable_type').change(function(){
			data = $(this).val()
			if (data == "Product"){
				$(".product").show()
        $(".product-list").attr("disabled", false)
				$(".varians-list").attr("disabled", true)
        $(".varian").hide()
			}
			else if(data == "Varian"){
        $(".varian").show()
        $(".varians-list").attr("disabled", false)
        $(".product-list").attr("disabled", true)
				$(".product").hide()
			}
		});

	});
</script>