<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<%= simple_form_for(@varian, url: product_varian_path, method: :put) do |f| %>
				<%= f.input :name %>
        <%= f.input :price %>
        <%= f.input :product_number %>
        <%= f.input :barcode %>
        <%= f.input :type_unit %>
        <%= f.input :description %>
        <%= f.button :submit, class: 'btn btn-primary btn-block'%>
			<% end %>
		</div>
	</div>
</div>