<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">	
			<div class="ibox">
				<div class="ibox-title">
					<div class="ibox-tools">
              <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
              </a>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-wrench"></i>
              </a>
              <ul class="dropdown-menu dropdown-user">
                  <li><a href="#" class="dropdown-item">Config option 1</a></li>
                  <li><a href="#" class="dropdown-item">Config option 2</a></li>
              </ul>
              <a class="close-link">
                  <i class="fa fa-times"></i>
              </a>
          </div>
        </div>
				<div class="ibox-content">
          <div class="action-product">
            <%= link_to 'Edit', edit_product_varian_path(@product, @varian), class: 'btn btn-sm btn-warning' %>
            <% if @varian.on_sale? %>
              <%= link_to 'Not Sold', varian_not_sold_path(@product, @varian),class: 'btn btn-sm btn-danger' %>
            <% else %>
              <%= link_to 'Sale', varian_sale_path(@product, @varian),class: 'btn btn-sm btn-primary' %>
            <% end %>
          </div>
					<table>
						<tr>
							<td>Product Number</td>
							<td> :  <%= @varian.product_number.blank? ? "-" : @varian.product_number %></td>
						</tr>
						<tr>
							<td>Barcode</td>
							<td> :  <%= @varian.barcode.blank? ? "-" : @varian.barcode %></td>
						</tr>
						<tr>
							<td>Product Name</td>
							<td> :  <%= @product.name + " " + @varian.name %></td>
						</tr>
						<tr>
							<td>Price</td>
							<td> :  <%= @varian.price %></td>
						</tr>
						<tr>
							<td>Description</td>
							<td> :  <%= @varian.description %></td>
						</tr>
						<tr>
							<td>Category</td>
							<td> : <%= @product.category_id = 0 ? "-" : @product.category.name %></td>
						</tr>
						<tr>
              <td>Status</td>
              <% if @varian.on_sale? %>
              <td>: <span class="badge badge-primary">On Sale</span></td>
              <% else %>
              <td>: <span class="badge badge-danger">Not Sold</span></td>
              <% end %>
            </tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>