<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h2>Product</h2>
        </div>
        <div class="ibox-content">
          <%= simple_form_for @product do |f| %>
            <%= f.input :name %>
            <%= f.input :price %>
            <%= f.input :product_number %>
            <%= f.input :barcode %>
            <%= f.input :type_unit %>
            <%= f.input :description %>
            <%= f.input :category_id do %>
              <% if @categories.blank? %>
                <%= link_to 'Create a Category', new_category_path, class: 'btn btn-primary btn-sm' %>
              <% else %>
                <%= f.select :category_id, @categories.map { |c| [c.name, c.id, { class: c.id }] }, include_blank: 'Choose a Category', class: 'form-control' %>
              <% end %>
            <% end %>
            <!--
            <%#= f.select("category_id", options_from_collection_for_select(Category.all, "id", "name", params[:id].to_i)) %>
            -->
            <h3>Varian</h3>

            <%= f.input :group_varians, as: :hidden %>
            <div id="variants"></div>
            <%= link_to "add", "javascript:void(0);", class: "add-variant" %>
            <%= f.button :submit, class: 'btn btn-primary btn-block'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    function updateHiddenField() {
      $(".variant").keyup(function() {
        data = {}

        for (i = 0; i < $(".variant").length; i++) {
          input      = $($(".variant")[i]);
          listId     = input.data('list');
          varians    = input.val().split(",");
          groupInput = $(".group-list-" + listId);
          groupName  = groupInput.val();
          data[groupName] = varians;
        }

        value = JSON.stringify(data)
        $("#product_group_varians").val(value);
      })
    }

    function addVariant() {
      $('.add-variant').click(function() {
        list = $(".variant-list").length
        if (list < 3) {
          $("#variants").append(
            "<div class='variant-list'>" +
              "<label>Group</label><br>" +
              "<input type='text' class='form-control group-variant group-list-" + list + "' data-list='" + list + "'><br>" +
              "<label>Varian</label><br>" +
              "<input type='text' class='form-control variant list-" + list + "' data-list='" + list + "'>" +
            "</div>"
          );
          updateHiddenField()
        }
      });
    }

    $(document).ready(function() {
      addVariant()
    });
</script>