<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h2>Member</h2>
        </div>
        <div class="ibox-content">
          <%= simple_form_for @member do |f| %>
            <%= f.input :id_member %>
            <%= f.input :name %>
            <%= f.input :email %>
            <%= f.input :telephone %>
            <%= f.input :date_of_birth %>
            <%= f.input :address %>
            <%= f.input :city %>
            <%= f.input :zip_code %>
            <%= f.input :note %>
            <%= f.button :submit, class: 'btn btn-primary btn-block'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>